<div class="contacts-container">
    <p>
        📞 : <a href="tel:+14182841118" style="color: blue; text-decoration: underline;">+1 (418) 284-1118</a>
    </p>
    <p>
        📧 : <a href="mailto:marc-antoine.gourdeau@ulaval.ca" style="color: blue; text-decoration: underline;">marc-antoine.gourdeau&#64;ulaval.ca</a>
    </p>
    <p>
        <a href="https://www.facebook.com/marcantoine.gourdeau">
            <img src="assets/facebook.png" alt="Facebook icon - Contact info" width="50" height="50" class="rounded-circle">
        </a>
    </p>
</div>