<div class="container">
  <p>Bienvenue sur mon site personnel. Voici un peu plus sur moi :</p>
  <ul>
    <li>Étudiant en génie logiciel à l'Université Laval.</li>
    <li>Passionné par la programmation, les algorithmes et l'optimisation.</li>
    <li>Développeur Java, Python, C++ et bien plus !</li>
  </ul>

  <h3>📌 Mes projets</h3>
  <ul>
    <li><a href="https://github.com/Marcosaure7">Mon portfolio GitHub</a></li>
  </ul>

  <h3>📬 Contact</h3>
  <p>
    Si tu veux en savoir plus, n'hésite pas à me contacter via
    <a href="https://www.linkedin.com/in/marc-antoine-gourdeau-1205482b8/">LinkedIn</a>.
  </p>
</div>
