<div class="container">
  <div class="row">
    <!--À propos-->
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>À propos de moi</h2>
        <img src="assets/pdp.jpg" alt="profile picture" width="256" height="256" class="rounded-circle">
        <p class="justified-text">
          Étudiant en voie de devenir ingénieur logiciel, <b>parfaitement bilingue</b>, j’ai toujours été passionné de
          l'<b>informatique</b>. J’ai travaillé en tant que <b>préposé à l’accueil</b> plusieurs étés consécutifs chez Parkbridge.
          Je suis ensuite devenu <b>annotateur de données IA</b>, où mes talents en programmation fut à l’épreuve.
          Mon parcours professionnel m’a ensuite amené chez Best Buy en tant qu’agent Geek Squad, où j’ai fait de
          la <b>configuration d’ordinateurs</b> et de la <b>réparation d’appareils divers</b> (téléphones, ordinateurs). Je suis
          présentement stagiaire, où la <b>programmation</b> et le <b>travail d’équipe</b> sont mon quotidien.
        </p>
      </div>
    </div>

    <div class="col-lg shadow border m-1">

    </div>

  </div>
</div>
